.search {
  padding: 0 3rem;
  position: relative;
  top: -5rem;
  left: 0;
  width: 100%;
  min-height: 5rem;
  transition: opacity 1s;

  &__content {
    width: 100%;
    height: 100%;
    min-height: 5rem;
    border-radius: 0.5rem;
    background-color: $white;
    padding: 0 6.5rem 0 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 10px 15px -7px rgba($clr-primary, 0.5);
  }

  &--hidden {
    opacity: 0;
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 4rem;
    height: 100%;
    padding: 0 1rem;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: $clr-primary;
    cursor: pointer;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $break-desktop) {
  .search {
    top: -6rem;
    min-height: 6rem;

    &__content {
      min-height: 6rem;
    }

    &__filterTablets-item {
      height: 2.5rem;

      span {
        font-size: 1.2rem;
      }
    }

    &__filterTablets-clear {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
